* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: rgb(41, 47, 47);
    padding: 16px;
    color: antiquewhite;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 5px;
}

header li a {
    color: antiquewhite;
    text-decoration: none;
}

.container {
    width: 1360;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: justify;
}
.articles article img {
    /* height: 180px; */
    width: 100%;
}
.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2, .articles article {
    margin-bottom: 10px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(26, 31, 31, 0.2);
}

#sports .articles article a {
    background-color: rgba(26, 31, 31, 1);
}

#economy {
    background-color: rgba(26, 31, 31, 0.25);
}

#economy .articles article a {
    background-color: rgb(26, 31, 31);
}

#movies {
    background-color: rgba(26, 31, 31, 0.2);
}

#movies .articles article a {
    background-color: rgba(26, 31, 31, 1);
}

#tecnology {
    background-color: rgba(26, 31, 31, 0.25);
}

#tecnology .articles article a {
    background-color: rgb(26, 31, 31);
}